[manifest]
version = "1.0.0"
dump_lua = true
priority = -1

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
if (card.area == G.jokers and G.jokers or card.area == G.consumeables and G.consumeables) and G.STATE ~= G.STATES.TUTORIAL then --Add a sell button
    base_attach.children.sell = G.UIDEF.card_focus_button{
      card = card, parent = base_attach, type = 'sell',
      func = 'can_sell_card', button = 'sell_card', card_width = card_width
    }
end
'''
position = "after"
payload = '''
if card.config.center.set == "Joker" and G.jokers and card.config.center.use then
    base_attach.children.use = G.UIDEF.card_focus_button{
      card = card, parent = base_attach, type = 'use',
      func = 'can_use_joker", button = 'use_joker', card_width = card_width
    }
end
if card.area == G.pack_cards and Entropy.needs_pull_button(card) then
    base_attach.children.use = G.UIDEF.card_focus_button{
      card = card, parent = base_attach, type = 'select',
      func = card:is_playing_card() and "can_reserve_card_to_deck" or "can_reserve_card", button = 'use_card', 
      card_width = card_width, text = Entropy.needs_pull_button(card)
    }
end
'''
match_indent = true