 
[manifest]
version = "1.0.0"
dump_lua = true
priority = -1

[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = "(self.ability.set == 'Voucher' and {G.C.SECONDARY_SET.Voucher, G.C.CLEAR}) or "
position = "after"
payload = '''
(self.ability.set == "RCode" and {G.C.RCode, G.C.CLEAR}) or 
(self.ability.set == "RSpectral" and {G.C.RSpectral, G.C.CLEAR}) or 
(self.ability.set == "RTarot" and {G.C.RTarot G.C.CLEAR}) or 
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "self.cost = math.max(1, math.floor((self.base_cost + self.extra_cost + 0.5)*(100-G.GAME.discount_percent)/100))"
position = "after"
payload = '''
    if G.GAME.entr_shop_price_modifier then
        self.cost = cry_format(self.cost * G.GAME.entr_shop_price_modifier,'%.2f') end
    if self.misprint_cost_fac then
        self.cost = cry_format(self.cost * self.misprint_cost_fac,'%.2f')
    if not G.GAME.modifiers.cry_misprint_min then self.cost = math.floor(self.cost) end end
'''
match_indent = true